<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2011 MageMods.co <sales@magemods.co>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config>
    <tabs>
        <magemods module="magemods">
            <label>MageMods</label>
            <sort_order>200</sort_order>
        </magemods>
    </tabs>
    <sections>
        <magemods>
            <label>MageMods</label>
            <tab>magemods</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extensionfeed translate="label">
                    <expanded>1</expanded>
                    <label>Extension Feed</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>magemods/adminhtml_system_config_form_fieldset_extensionfeed</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extensionfeed>
            </groups>
        </magemods>
    </sections>
</config>
